In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Students.csv')
df

     Name Branch  CGPA Backlogs
0     Raj  Civil   8.0       no
1  Sushma   Mech   9.2       no
2   Kevin     EC   7.8      yes
3    Mala  Civil   8.5       no
4   Meera     EC   7.0      yes
5  Pushpa  Civil   7.5       no

In [6]:
#Drop a record of those having a backlogs.
df.drop(df[df['Backlogs'] == 'yes'].index)

    Name Branch  CGPA Backlogs
2  Kevin     EC   7.8      yes
4  Meera     EC   7.0      yes

In [4]:
#Get student name and branch whose cgpa is greater than 7.

x = df[df['CGPA'] > 7]
x[['Name', 'Branch']]

     Name Branch
0     Raj  Civil
1  Sushma   Mech
2   Kevin     EC
3    Mala  Civil
5  Pushpa  Civil

In [5]:
#Get the Student Name and cgpa whose branch is civil.
y = df[df['Branch'] == 'Civil']
y[['Name', 'CGPA']]

     Name  CGPA
0     Raj   8.0
3    Mala   8.5
5  Pushpa   7.5